# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
db.sqlite3
migrations/
media/
settings.py
# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
lib/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.o
*.a
*.d
*.elf
*.eeprom
*.bin
*.hex
*.cpp
*.c
*.h

# Ignora le cartelle di output (per esempio, cartelle create dal build system)
build/
debug/
release/
*.temp/
*.tlog/

# Ignora il file di configurazione dell'IDE di Arduino
*.arduino

# Ignora le librerie esterne scaricate tramite il Library Manager di Arduino
/libraries/*

# Ignora la cartella del sistema di gestione delle librerie di PlatformIO
.pio/

# Ignora il file di configurazione di PlatformIO
platformio.ini

# Ignora i file di configurazione temporanei di Arduino IDE
.idea/
.vscode/

# Ignora il file di configurazione di Arduino Sketchbook
arduino.json

Arduino/Camera/libraries/
